
#contenedor{
    align-content: center;
    display: flex;
    
}


  #result {
    margin-top: 10px;
    font-weight: bold; }

#botonrespuesta{
    height: 50px;
    font-weight: 100;
    align-items: center;    
}

h1{
    font-size: 50px;
}
    


